<?xml version="1.0"?>
<launch>
	<!-- Map path -->
  <arg name="map_file" default="$(find dualarm_mobile_localization)/maps/map2.yaml"/>
  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
  	<rosparam file="$(find dualarm_mobile_localization)/params/amcl_params.yaml" command="load" />
    <param name="initial_pose_x"  value="0"/>
  	<param name="initial_pose_y"  value="0"/>
  	<param name="initial_pose_a"  value="0"/>
	</node>

  <!-- Run RViz node (visualization) -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find dualarm_mobile_localization)/rviz/rviz.rviz" />
  
</launch>
